/* Limit header banner image to ~1/3 of the viewport height */
.page__hero-image {
  max-height: 33vh;
  object-fit: cover;
  object-position: top;
  width: 100%;
}

@media (max-width: 600px) {
  .page__hero--overlay .wrapper {
    max-width: 66%;
    margin-left: 0;
    padding-left: 1rem;
  }
}
